// /*------------------------------------*\
//     $TYPOGRAPHY
// \*------------------------------------*/

body {
	$font-size: 16px;
	$line-height: 24px;
	$font-family: $helvetica;
	color: $text-color;
	font: #{$font-size}/#{$line-height} $font-family;
}

a {
	color: $link-color;
	transition: $anim-speed;
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: darken($link-color, 10%);
	}
}

p a {
	text-decoration: underline;
}

strong {
	font-weight: $bold;
}

h1,h2,h3,h4,h5,h6,
.alpha,
.beta,
.gamma {
	font-weight: $normal;
}

// font size mixin can be found in tools/mixins.scss
// font sizes are declared in settings/font-vars.scss
h1,.alpha {
	font-size: (30/16)+rem;
}

h2,.beta {
	font-size: (28/16)+rem;
}

h3,.gamma {
	font-size: (26/16)+rem;
}

h4, .delta {
	font-size: (24/16)+rem;
}

h5, .echo {
	font-size: (22/16)+rem;
}

h6, .zeta {
	font-size: (20/16)+rem;
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

// colours map in settings.vars
//	creates .bg--purple ... bg--lime vars can be found in settings.vars
@each $color, $hex in $text-colors {
	.text--#{$color} {
		color: #{$hex}!important;
	}
}
