/*------------------------------------*\
	$Form - elements
\*------------------------------------*/

input,
button,
select,
textarea {
	outline: 0;
	border: 0;
	vertical-align: middle;
}

textarea {
	resize: vertical;
	min-height: $global-spacing-unit*6;
	width: 100%;
}

:-moz-placeholder,
:-ms-input-placeholder ,
::-moz-placeholder,
::-webkit-input-placeholder {
	color: #777;
}
