/*------------------------------------*\
	#Typography
\*------------------------------------*/

body {
	$font-size: 16px;
	$line-height: 24px;
	$font-family: $main-font;
	color: $text-color;
	font: #{$font-size}/#{$line-height} $font-family;
}

body,
.o-layout .o-layout__item {
	// Minimum 16x, and grows more slowly
	// (half the rate of screen growth)
	font-size: calc(1rem + .5vw);

	// Line-height based on font-size,
	// with addition viewport-relative growth
	line-height: calc(1.1em + .25vw);
}

a {
	color: $link-color;
	transition: $anim-speed;
	text-decoration: none;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: darken($link-color, 10%);
	}
}

p {
	a {
		border-bottom: 1px dotted $link-color;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: $bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.u-h1,
.u-h2,
.u-h3 {
	font-weight: $normal;
	line-height: 1.5;
}

// font size mixin can be found in tools/mixins.scss
// font sizes are declared in settings/font-vars.scss
h1,
.u-h1 {
	$size: (30/16)+rem;
	font-size: calc(#{$size} + .75vw);
}

h2,
.u-h2 {
	$size: (28/16)+rem;
	font-size: calc(#{$size} + .6vw);
}

h3,
.u-h3 {
	$size: (26/16)+rem;
	font-size: calc(#{$size} + .5vw);
}

h4,
.u-h4 {
	$size: (24/16)+rem;
	font-size: calc(#{$size} + .4vw);
}

h5,
.u-h5 {
	$size: (22/16)+rem;
	font-size: calc(#{$size} + .3vw);
}

h6,
.u-h6 {
	$size: (20/16)+rem;
	font-size: calc(#{$size} + .25vw);
}

// colours map in settings.vars
//	creates .bg--purple ... bg--lime vars can be found in settings.vars
@each $color, $hex in $text-colors {
	.text--#{$color} {
		color: #{$hex} !important;
	}
}
