/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/

.btn--bare {
	border: 0;
	background: 0;
	padding: 0;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	outline: 0;
	cursor: pointer;
	overflow: visible;
	transition: $anim-speed;
	border-radius: 6px;
	text-decoration: none;
	transition: $anim-speed;
	padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
	color: #fff;
	background: $charcoal;
	a:hover, a:focus &,
	&:hover, &:focus {
		color: #fff;
		background: #990033;
	}
	a:active &,
	&:active {
		color: #fff;
		background: #75071c;
	}
}


