/*------------------------------------*\
	$IMAGES
\*------------------------------------*/

.img--left {
	float: left;
	padding: 0 $inuit-base-spacing-unit $inuit-base-spacing-unit 0;
}

.img--right {
	float: right;
	padding: 0 0 $inuit-base-spacing-unit $inuit-base-spacing-unit;
}

