/*------------------------------------*\
	#Helpers
\*------------------------------------*/


.u-dib { display: inline-block !important; }
.u-db { display: block !important; }
.u-di { display: inline !important; }

.u-hidden {
	display: none !important;
}

// this hides content visually but not from screenreaders
.u-visuallyhidden {
	@include inuit-hidden-visually();
}

@if (variable-exists(mq-breakpoints)) {
	@each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {
		@include mq($from: $inuit-bp-name) {
			.u-hidden#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
				display: none !important;
				position: absolute;
			}
			.text--center#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
				text-align: center !important;
			}
		}
	}
}

// colours maps in settings/_vars.scss
@each $color, $hex in $bg-colors {
	.bg--#{$color} {
		background-color: #{$hex} !important;
	}
}

