/*------------------------------------*\
	#Typography - helpers
\*------------------------------------*/

.u-text--up { text-transform: uppercase !important; }
.u-text--right { text-align: right !important; }
.u-text--center { text-align: center !important; }
.u-text--left { text-align: left !important; }

.u-text--justify {
	text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}

/* text  mixer
========================================================================== */
// colours map in settings.vars
//	creates .bg--purple ... bg--lime vars can be found in settings.vars
@each $color, $hex in $text-colors {
	.u-text--#{$color} {
		color: #{$hex} !important;
	}
}
