/*------------------------------------*\
	#Helpers
\*------------------------------------*/


.u-dib { display: inline-block !important; }
.u-db { display: block !important; }
.u-di { display: inline !important; }

.u-hidden {
	display: none !important;
}

// this hides content visually but not from screenreaders
.u-visuallyhidden {
	@include inuit-hidden-visually();
}


/* mq helper classes
========================================================================== */

@include mq($from: desk) {
	.u-hidden#{$inuit-widths-breakpoint-separator}desk {
		display: none !important;
		position: absolute;
	}
	.u-text--center#{$inuit-widths-breakpoint-separator}desk {
		text-align: center !important;
	}
}

@include mq($until: tablet) {
	.u-hidden#{$inuit-widths-breakpoint-separator}palm {
		display: none !important;
		position: absolute;
	}
	.u-text--center#{$inuit-widths-breakpoint-separator}palm {
		text-align: center !important;
	}
}


/* bg color map
========================================================================== */
// colours maps in settings/_vars.scss
@each $color, $hex in $bg-colors {
	.u-bg--#{$color} {
		background-color: #{$hex} !important;
	}
}

