/*------------------------------------*\
	#Cookie
\*------------------------------------*/

.c-cookie {
	background-color: rgba($charcoal, .9);
	color: #fff;
	font-size: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	display: none;
	z-index: 9999;

	.no-js & {
		display: none;
	}

	a {
		color: #fff;
		text-decoration: underline;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}


.c-cookie__close {
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	opacity: .8;
	transition: $global-transition;
	margin-top: $global-spacing-unit/2;

	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	}

	@include mq($from: desk) {
		position: absolute;
		top: 50%;
		margin-top: -15px;
		right: $global-spacing-unit;
	}
}



