
/*------------------------------------*\
	$SETTINGS
\*------------------------------------*/

$inuit-responsive-settings: true;

/*------------------------------------*\
	$TOOLS
\*------------------------------------*/

$inuit-use-fractions: true;

/*------------------------------------*\
	$OBJECTS
\*------------------------------------*/

// layout
$inuit-enable-layout--flush:	false;
$inuit-enable-layout--middle:	false;
$inuit-enable-layout--tiny: 	false;
$inuit-enable-layout--small: 	false;
$inuit-layout-gutter: 			$inuit-base-spacing-unit;

// buttons
// $inuit-btn-background:		transparent;
// $inuit-btn-color:			$purple;
// $inuit-btn-border-width:	1px;
// $inuit-btn-border-color:	$purple;
// $inuit-btn-radius:			4px;
// $inuit-enable-btn--small:	false;
// $inuit-enable-btn--large:	false;
// $inuit-enable-btn--full:	false;
// $inuit-enable-btn--pill:	false;

/*------------------------------------*\
	$TRUMPS
\*------------------------------------*/

/// these create class names such as u-1/2 u-1/3
$inuit-widths-columns-responsive: (
	// 1,
	// 2,
	// 3,
	// 4,
	// 5,
	// 6,
	// 7,
	// 8
);

// these also have small, tiny, large and huge versions e.g $inuit-margin--small: true;
// (m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
// class names u-mb (unit-marginbottom)
// class names u-mt (unit-margintop)
$inuit-enable-margins:					false;
$inuit-enable-margins--tiny:			false;
$inuit-enable-margins--small:			true;
$inuit-enable-margins--negative-huge:	false;
$inuit-enable-margins--large:			false;
$inuit-enable-margins--none:			true;

$inuit-enable-paddings:					false;
$inuit-enable-paddings--tiny:			false;
$inuit-enable-paddings--small:			true;
$inuit-enable-paddings--none:			true;
$inuit-enable-paddings--large:			false;
$inuit-enable-paddings--huge:			false;

