/*------------------------------------*\
	$HELPERS
\*------------------------------------*/
.grid--middle {
	> .grid__item {
		vertical-align: middle;
	}
}

// Responsive push (margin) classes
@mixin margin-setup($namespace: "") {
	.#{$namespace}push           { margin:       $base-spacing-unit!important; }
	.#{$namespace}push--top      { margin-top:   $base-spacing-unit!important; }
	.#{$namespace}push--right    { margin-right: $base-spacing-unit!important; }
	.#{$namespace}push--bottom   { margin-bottom:$base-spacing-unit!important; }
	.#{$namespace}push--left     { margin-left:  $base-spacing-unit!important; }
	.#{$namespace}push--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
	.#{$namespace}push--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

	.#{$namespace}push-half          { margin:       $half-spacing-unit!important; }
	.#{$namespace}push-half--top     { margin-top:   $half-spacing-unit!important; }
	.#{$namespace}push-half--right   { margin-right: $half-spacing-unit!important; }
	.#{$namespace}push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
	.#{$namespace}push-half--left    { margin-left:  $half-spacing-unit!important; }
	.#{$namespace}push-half--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
	.#{$namespace}push-half--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }
}

// @include media-query(desk){
// 	@include margin-setup("desk-");
// }
